@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&&display=swap');


body::-webkit-scrollbar {
    width: 7px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #0D1B2A;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #778DA9;
    border-radius: 2px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background-color: #415A77;
  }

/* Navbar */
nav {
    position: fixed;
    padding-top: 2em !important;
    font-weight: bold;
    width: 100%;
}

.nav-link {
    color: #c0d7f5;

}

.nav-link:visited{
    color: #c0d7f5;
}

.active {
    color: rgb(255, 255, 255) !important;
}

/* Hover Color for Navbar Links */
.nav-link:hover {
    color: #9badc5; /* Maintain the hover color change for better visibility on mobile */
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #09131D;
    color: #F5F5F4;
    width: 100%; /* Set the body width to 100% for responsiveness */
    font-size: medium; /* Adjust the font size for better readability on mobile */
    font-family: 'Space Grotesk', sans-serif;
    margin: 0; /* Remove default body margin */
}

.parent-container {
    display: flex;
    justify-content: flex-end; /* Push the navbar-collapse to the right */
  }
.mt-4{
    font-size: x-large;
}
 @media (max-width: 768px) {
            .mt-4 {
                font-size: larger; /* Smaller font size for smaller screens */
            }
        }

        /* Media query for screens smaller than 480px */
@media (max-width: 480px) {
    .mt-4 {
        font-size: large; /* Even smaller font size for smaller screens */
    }
}
    

h2{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%; 
}  
h4{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
p{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.1em;
}
.centered-list {
    text-align: center;
}
.card-text{
    font-size: large;
}
.img-fluid{
    height: 450px;
    width: auto;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .img-fluid {
        height: 450px;
        width: auto;
        margin-bottom: 20px;
    }
}

/* Media query for screens smaller than 480px */
@media (max-width: 480px) {
    .img-fluid {
        height: 450px;
        width: auto;
        margin-bottom: 20px;
    }
}

ul {
    padding: 0; /* Remove default padding */
    text-align: center; /* Center the list */
}
ul li{
    text-align: left;
    margin-left:70px ;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    color: white;
    text-align: center;
    width: 50%;
    border-radius: 10px;
}

a:link {
    color: #3F5671;
    text-decoration: none;
}

a:visited {
    color: #778DA9;
    text-decoration: underline;
}

a:hover {
    color: #F5F5F4;
}

.btn {
    margin: 1em 0 0 0;
    background-color: #1B263B;
    border: none;
}

.btn:hover {
    background-color: #415A77;
}

.drmeg-image {
    border-radius: 10px;
    height: fit-content;
    width: 32em;
}

.who {
    font-size: 3em;
    font-family: 'Cardo', serif;
    user-select: none;
}


@media (max-width: 1000px) {
    .navbar-brand {
        display: none;
    }

    html {
        box-sizing: border-box;
        width: 100vw !important;
        overflow-x: hidden !important;
    }

    .navbar-nav {
        flex-direction: row;
        gap: 1em;
    }

    .navbar {
        margin-left: 0 !important;
        margin-bottom: 0 !important;
    }

    .navbar-toggler {
        margin-left: -2vw;
    }

    .who {
        font-size: 3em;
    }

    .who-div {
        width: 20em;
    }

    .who-text {
        text-align: center;
        font-size: 0.8em;
        margin: 0 !important;
        margin-bottom: 1em !important;
    }

    .mt-1 {
        font-size: 1rem;
    }

    .main-width {
        margin-left: 1em;
        margin-right: 0;
        text-align: justify;
        text-justify: inter-word;
    }

    nav {
        padding-top: 1em !important;
    }

    .socials{
        margin-top: -2em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
}